<% flash.each do |key, value| %>
  <div class="fixed w-full max-w-lg left-4 bottom-4" data-controller="flash">
    <div class="p-2 bg-indigo-600 rounded-lg shadow-lg sm:p-3">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex items-center flex-1 w-0">
          <p class="ml-3 font-medium text-white"><%= value %></p>
        </div>
        <div class="flex-shrink-0 sm:ml-2">
          <button type="button" class="flex p-2 -mr-1 transition duration-150 ease-in-out rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500" aria-label="Dismiss" data-action="click->flash#hide">
            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>