<%
  title = @post.present? ? "Edit #{@post.title}" : 'New post'
  model = @post.present? ? @post : Post.new
%>

<aside 
  class="fixed inset-y-0 right-0 z-50 max-w-full overflow-y-auto"
  hidden 
  data-reveal 
  data-transition
  data-transition-enter="transition transform ease-out duration-200"
  data-transition-enter-start="translate-x-full"
  data-transition-enter-end="translate-x-0"
  data-transition-leave="transition transform ease-out duration-300"
  data-transition-leave-start="translate-x-0"
  data-transition-leave-end="translate-x-full"
>
  <div class="w-screen max-w-md">
    <div class="flex flex-col h-full bg-white divide-y divide-gray-200 shadow-xl">
      <div class="flex-1 h-0 overflow-y-auto">
        <header class="px-4 py-6 space-y-1 bg-blue-700 sm:px-6">
          <div class="flex items-center justify-between space-x-3">
            <h2 class="text-lg font-medium text-white">
              <%= title %>
            </h2>
            <button aria-label="Close panel" class="text-indigo-200 transition duration-150 ease-in-out hover:text-white" data-action="click->reveal#toggle">
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div>
            <p class="text-sm text-blue-300">
              Get started by filling in the information about the post.
            </p>
          </div>
        </header>
        <div class="flex flex-col justify-between flex-1">
          <%= render 'posts/form', model: model, title: title %>
        </div>
      </div>
    </div>
  </div>
</aside>
