<%
  text = current_post ? 'Edit post' : 'New post'
  icon = current_post ? 'âœï¸' : 'ðŸŽ‰'
%>

<div class="fixed bottom-6 right-6">
  <button type="button" class="inline-flex items-center px-6 py-2 font-semibold text-white uppercase bg-blue-700 rounded-md" data-action="click->reveal#toggle">
    <span class="text-xs">
      <%= text %>
    </span>
    <span class="ml-3">
      <%= icon %>
    </span>
  </button>
</div>
