<% color_class = index.zero? ? 'bg-blue-700 text-white' : 'bg-gray-200' %>

<div class="flex items-center p-4 rounded-lg <%= color_class %>">
  <span class="inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-sm font-bold bg-white bg-opacity-25 border-2 border-white border-opacity-50 rounded-full">
    <%= index + 1 %>
  </span>

  <h3 class="ml-4 text-lg font-semibold">
    <%= user.username %>
    <span>(<%= pluralize user.posts_count, 'post' %>)<span>
  </h3>
</div>