<% set_meta_tags title: 'References',
                 description: 'The projects that compliment or are complimented by Rubocop Configs',
                 og: { title: 'References' } %>

<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="container">
    <article>
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        References
      </h1>
      <main class="pt-12 mt-6 prose border-t-2 border-gray-100">
        <p>
          I built this to help Rails developers find and share Rubocop configs. The amount of learning that can be achieved by running Rubocop against your code is endless, and learning from a variety of standards that developers are working too is eye opening.
        </p>

        <a href="https://github.com/rubocop-hq/rubocop" target="_blank" rel="noreferrer">
          Rubocop GitHub
        </a>

        <br>

        <a href="https://docs.rubocop.org/rubocop/1.5/index.html" target="_blank" rel="noreferrer">
          Rubocop Docs
        </a>

        <p>
          This isn't a 1to1 of what can be achieved with RailsBytes, but it is something that inspired me to create this.
        </p>

        <p>
          RailsBytes allows Rails developers to quicly setup their projects within the command line.
        </p>
        
        <a href="https://railsbytes.com/" target="_blank" rel="noreferrer">
          RailsBytes
        </a>
      </main>
    </article>
  </div>
</section>