<% tags.each do |tag| %>
  <% not_searched = tag.name.exclude?(params[:search].downcase) if params[:search].present? %>

  <div class="m-2 <%= 'order-last opacity-50' if not_searched %>">
    <%= link_to tag_path(tag) do %>
      <%= render 'components/tag', title: tag.name %>
    <% end %>
  </div>
<% end %>
