<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="container">
    <header>
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 capitalize sm:text-4xl">
        <%= @tag.name %>
      </h1>
    </header>
    <main class="grid gap-16 pt-12 mt-6 border-t-2 border-gray-100 lg:grid-cols-2 lg:gap-x-6 lg:gap-y-12">
      <%= render @posts %>
    </main>
  </div>
</section>
