<% set_meta_tags title: 'Rubocop Configs for Ruby Developers',
                 description: 'A collection of shared Rubocop gems and configurations that will enhance your Ruby apps',
                 og: { title: 'Rubocop Configs for Ruby Developers' } %>

<section class="py-12 bg-white sm:py-16 lg:py-20">
  <div class="container">
    <header>
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        Rubocop Configs
      </h1>
      <p class="mt-4 text-xl text-gray-500">
        A collection of Rubocop gems and configurations that will enhance your Ruby apps
      </p>
    </header>
    <main class="grid gap-16 pt-12 mt-6 border-t-2 border-gray-100 lg:grid-cols-2 lg:gap-x-6 lg:gap-y-12">
      <%= render @posts %>
    </main>
  </div>
</section>
